.game-lobby-main-container {
  padding: 50px 50px;
}
.game-lobby-welcome-text {
  font-size: 24px;
  text-align: end;
  color: #fff;
}
.players-group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 25px;
}
.player-board-container {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  background-color: #b1afff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.onboard-player-name {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.highlight-current-player {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.remove-player-btn {
  cursor: pointer;
  border: none;
  width: 100px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
  background-color: #5e4fb1;
  align-self: flex-end;
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.take-off-btn {
  cursor: pointer;
  width: 120px;
  padding: 6px;
  height: 50px;
  align-self: center;
  background-color: #5e4fb1;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
